assets/*
templates_c/*
userpanel/templates_c/*
lib/Smarty/*
nbproject/private
lms.ini
backups/*
bin/voip/cache/*
bin/voip/templates_c/*
voipcalls/*
documents/*
!documents/templates/default
cache/*
contrib/LMS2Nagios-php/generated/*
lib/teryt/*
composer.lock
composer.phar
.htaccess

# Temporary files
*~
*.swp
*.swo

/vendor/
