{block name="quicksearchcontents"}
{if ConfigHelper::getConfig('phpui.quicksearch_customer')}
<img src="img/customer.gif" alt="">
<input class="blend" type="text" id="customerinput" name="qs[customer]" value="" size="15" {tip text="Enter customer ID, first/lastname, email or address and press Enter"}>{/if}
{if ConfigHelper::getConfig('phpui.quicksearch_node')}
&nbsp;<img src="img/node.gif" alt="">
<input class="blend" type="text" id="nodeinput" name="qs[node]" value="" size="15" {tip text="Enter node ID, name, IP address or MAC address and press Enter"}>{/if}
{if ConfigHelper::getConfig('phpui.quicksearch_ticket')}
&nbsp;<img src="img/ticket.gif" alt="">
<input class="blend" type="text" id="rtinput" name="qs[ticket]" value="" size="15" {tip text="Enter request tracker ID, subject or requestor name and press Enter"}>{/if}
{if ConfigHelper::getConfig('phpui.quicksearch_stck_price')}
&nbsp;<img src="img/money.gif" alt="">
<input class="blend" type="text" id="stckpriceinput" name="qsstckprice" value="" size="15" {tip text="Enter EAN, serial number, product number or product name to check the price"}>{/if}
{if ConfigHelper::getConfig('phpui.quicksearch_stck_warranty')}
&nbsp;<img src="img/stck.png" alt="">
<input class="blend" type="text" id="stckwarrantyinput" name="qsstckwarranty" value="" size="15" {tip text="Enter serial number to check warranty status"}>{/if}
{if ConfigHelper::getConfig('phpui.quicksearch_account')}
-&nbsp;<img src="img/account.gif" alt="">
<input class="blend" type="text" id="accountinput" name="qs[account]" value="" size="15" {tip text="Enter account or alias name and press Enter"}>{/if}
{if ConfigHelper::getConfig('phpui.quicksearch_document')}
&nbsp;<img src="img/docum.gif" alt="">
<input class="blend" type="text" id="documentinput" name="qs[document]" value="" size="15" {tip text="Enter document number and press Enter"}>{/if}
<script type="text/javascript">
<!--
{if ConfigHelper::getConfig('phpui.quicksearch_customer')}
	new AutoSuggest(document.getElementById('quicksearch'), document.getElementById('customerinput'), '?m=quicksearch&ajax=1&mode=customer&what=', {ConfigHelper::getConfig('phpui.quicksearch_autosubmit')});
{/if}
{if ConfigHelper::getConfig('phpui.quicksearch_node')}
	new AutoSuggest(document.getElementById('quicksearch'), document.getElementById('nodeinput'), '?m=quicksearch&ajax=1&mode=node&what=', {ConfigHelper::getConfig('phpui.quicksearch_autosubmit')});
{/if}
{if ConfigHelper::getConfig('phpui.quicksearch_ticket')}
	new AutoSuggest(document.getElementById('quicksearch'), document.getElementById('rtinput'), '?m=quicksearch&ajax=1&mode=ticket&what=', {ConfigHelper::getConfig('phpui.quicksearch_autosubmit')});
{/if}
{if ConfigHelper::getConfig('phpui.quicksearch_account')}
	new AutoSuggest(document.getElementById('quicksearch'), document.getElementById('accountinput'), '?m=quicksearch&ajax=1&mode=account&what=', {ConfigHelper::getConfig('phpui.quicksearch_autosubmit')});
{/if}
{if ConfigHelper::getConfig('phpui.quicksearch_document')}
	new AutoSuggest(document.getElementById('quicksearch'), document.getElementById('documentinput'), '?m=quicksearch&ajax=1&mode=document&what=', {ConfigHelper::getConfig('phpui.quicksearch_autosubmit')});
{/if}
{if ConfigHelper::getConfig('phpui.quicksearch_stck_price')}
	new AutoSuggest(document.getElementById('quicksearch'),document.getElementById('stckpriceinput'),'?m=quicksearch&ajax=1&mode=productprice&what=',{ConfigHelper::getConfig('phpui.quicksearch_autosubmit')});
{/if}
{if ConfigHelper::getConfig('phpui.quicksearch_stck_warranty}')}
	new AutoSuggest(document.getElementById('quicksearch'),document.getElementById('stckwarrantyinput'),'?m=quicksearch&ajax=1&mode=productwarranty&what=',{ConfigHelper::getConfig('phpui.quicksearch_autosubmit')});
{/if}//-->
</script>
{/block}
